*{
    box-sizing: border-box;
}
/*body*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    padding: 10px 20px;
}

/*nav*/

.nav-item img{
    width: 25px;
}

.navbar-nav .nav-link:hover,
        .navbar-nav .nav-link:focus {
    color: #7e38ad !important;
}

/*main*/
.main-container {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #383d4282;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/*landing page styling*/
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./Pictures/Background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    border: none;
}

.home h1{
    font-size: 5rem
}

.home p{
    font-size: 3rem;
}

/*about me styling*/
.about{
    display: flex;
    align-items: center;
}
.about-img{
    flex: 1;
    padding: 20px;
}

.about-content{
    padding: 20px;
    flex: 2;
}

.about p{
    font-size: 1.7rem;
}

@media screen and (max-width: 600px) {
    #about {
        flex-direction: column;
    }
}

/*portfolio styling*/
.portfolio{
    padding: 20px;
}

.message{
    width: 100%;
}

@media screen and (max-width: 600px) {
    .message {
        width: 100%;
        height: 20vh;
    }
}

/*contcat styling*/
#contact{
    padding-bottom: 10px;
}
/*footer styling*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: black;
}
footer img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 50%;
}